---
# Only the main Sass file needs front matter (the dashes are enough)
---

// MY CUSTOM CSS STUFF FOR OVERRIDING DEFAULTS IN MM

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// SCSS overrides
//  ???
.greedy-nav {
    background-color: white;
    //height:0px;
    a {
        color: black;
    }
};

// top bar
.masthead {
    background-color: white;
    border-bottom: 2px solid grey;
    font-size: 1.25em;
}
 
// general fontsize and color
html {
    font-size: 1.1em;    
}

// # refers to id element, e.g., <div id="main">
// . refers to class element
// this changes the blog list link colors to be less ugly
.archive__item{
    /* unvisited link */
    a:link {
        color: rgb(0, 162, 255);
    }
    /* visited link */
    a:visited {
        color: rgb(55, 49, 114);
    }
    /* mouse over link */
    a:hover {
        color: rgb(199, 54, 54);
    }  
    /* selected link */
    a:active {
        color: rgb(158, 58, 58);
    }
}

a.site-title:hover{
    color: rgb(199, 54, 54);
}


// sidebar & photo properties
.author__avatar {
    img {
      max-width: 200px;
      border-radius: 10%;
  
      @include breakpoint($large) {
        padding: 2px;
        border: 2px solid $border-color;
      }
    }
  }